.home {
  width: 85%;
  height: 100%;
  grid-gap: 1em;

  .home-title {
    font-size: 3em;
    justify-self: start;
  }

  .games-cards {
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
  }
}
